.menuOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .3);
  backdrop-filter: blur(2px);
  transition: all .2s ease-in-out;
  opacity: 0;
  visibility: hidden;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 1);
  padding: 80px;
  transform: translate(-100%);
  transition: all .2s ease-in-out;
}

.menuActive {
  composes: menu;
  transform: translate(0);
}

.menuOverlayActive {
  composes: menuOverlay;
  opacity: 1;
  visibility: visible;
}

.closeButton {
  width: 24px;
  height: 24px;
  background: none;
  background-image: url('../../images/close-btn.svg');
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  position: absolute;
  top: 24px;
  right: 24px;
}

.navigation {
  margin-top: 34px;
  padding: 0;
}

.navigationItem {
  list-style-type: none;
  font-family: 'Raleway-Regular', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
  margin-bottom: 20px;
}

.navigationLink {
  text-decoration: none;
  color: #000000;
}

.phone {
  padding: 37px 0 17px 0;
  margin: 0;
  font-family: 'Raleway-Regular', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #000001;
}

.social {
  padding: 0;
  margin: 0;
  display: flex;
}

.socialLink {
  text-decoration: none;
  height: 24px;
  display: flex;
  align-items: center;
}

.socialItem {
  cursor: pointer;
  list-style-type: none;

  margin-right: 13px;
}

.socialItem:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 1160px) {
  .menu {
    padding-left: 100px;
  }
}

@media screen and (max-width: 540px) {
  .menu {
    width: 60%;
    padding-left: 70px;
  }
}

@media screen and (max-width: 460px) {
  .menu {
    width: 70%;
    padding: 28px;
  }
}