.App {
  width: 100%;
  background-image: none;
  background-repeat: no-repeat;
	background-position: top center;
}

@media screen and (min-width: 1160px) {
  .App_background_image {
    composes: App;
		background-image: url(../../images/bg.png);
  }
}

@media screen and (max-width: 1160px) {
  .App_background_image {
    composes: App;
		background-image: url(../../images/bg-tablet.png);
  }
}

@media screen and (max-width: 496px) {
  .App_background_image {
    composes: App;
		background-image: url(../../images/bg-mobile.png);
  }
}
