.main {
  max-width: 1180px;
  min-height: 70vh;
  margin: 0 auto;
  padding: 40px 50px 15px 50px;
}

.link {
  text-decoration: none;
}

.tagline {
  width: 300px;
  font-family: 'Raleway-Medium', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
  margin: 173px auto 0 auto;
  text-align: center;
}

.description {
  margin-top: 159px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}

.descriptionItem {
  list-style: none;
  width: 380px;
  min-height: 247px;
  background-color: #ffffff;
  border-radius: 20px;
}

.descriptionItem:nth-child(2) {
  margin: 0 20px;
}

.cloudImage {
  margin: 20px 0 15px 33px;
}

.descriptionItem:nth-child(1) .cloudImage {
  margin-top: 18px;
}

.descriptionItem:nth-child(2) .cloudImage {
  margin: 30px 0 7px 33px;
}

.descriptionItem:nth-child(3) .cloudImage {
  margin-top: 30px;
}

.descriptionText {
  width: 316px;
  margin: 0 33px;
  font-family: 'Raleway-Regular', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
}

.descriptionItem:nth-child(1) .descriptionText {
  width: 307px;
}

.booksTitle {
  margin: 120px 0 50px 0;
  font-family: 'RubikDirt-Regular', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  color: #BD6D6E;
}

.booksContainer {
  width: 100%;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.videoTitle {
  composes: booksTitle;
  margin: 50px 0 50px 0;
}

.videoContainer {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  margin-bottom: 80px;
}

.videoContainer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-width: 0;
  outline-width: 0;
}

@media screen and (max-width: 1280px) {
  .description {
    margin-top: 120px;
    flex-direction: column;
  }

  .descriptionItem {
    width: 620px;
    display: flex;
    min-height: 120px;

  }

  .descriptionItem:nth-child(2) {
    margin: 20px 0;
  }

  .descriptionText {
    width: 467px;
    margin: 23px 21px 28px 15px;
  }

  .descriptionItem:nth-child(1) .descriptionText {
    width: 467px;
  }

  .descriptionItem:nth-child(2) .descriptionText {
    width: 467px;
    margin: 23px 0 28px 12px;
  }

  .descriptionItem:nth-child(1) .cloudImage {
    margin: 23px 0 33px 33px;
  }
  
  .descriptionItem:nth-child(2) .cloudImage {
    width: 78px;
    height: 57px;
    margin: 31px 0 30px 33px;
  }
  
  .descriptionItem:nth-child(3) .cloudImage {
    margin: 26px 0 42px 33px;
  }

  .booksTitle {
    margin-top: 90px;
  }
}

@media screen and (max-width: 1160px) {
  .main {
    max-width: 620px;
  }
  
  .tagline {
    width: 247px;
    font-size: 16px;
    line-height: 21px;
  }

  .booksTitle {
    margin-top: 90px;
  }

  .videoTitle {
    margin-top: 50px;
  }
}

@media screen and (max-width: 720px) {
  .description {
    margin-top: 150px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  
  .descriptionItem {
    width: 500px;
    min-height: 0;
    background-color: transparent;
  }

  .descriptionItem:nth-child(2) {
    margin: 30px 0;
  }

  .descriptionText {
    width: 400px;
    font-size: 16px;
    line-height: 21px;
    margin: 0;
  }
  
  .descriptionItem:nth-child(1) .descriptionText {
    margin: 0;
  }

  .descriptionItem:nth-child(2) .descriptionText {
    margin: 0;
  }

  .descriptionItem:nth-child(3) .descriptionText {
    margin: 0;
  }

  .descriptionItem:nth-child(1) .cloudImage {
    width: 69px;
    height: 48px;
    margin: 0 15px 0 0;
  }
  
  .descriptionItem:nth-child(2) .cloudImage {
    width: 69px;
    height: 48px;
    margin: 0 15px 0 0;
  }
  
  .descriptionItem:nth-child(3) .cloudImage {
    width: 58px;
    height: 39px;
    margin: 0 20px 0 0;
  }
}

@media screen and (max-width: 665px) {
  .main {
    padding: 0 20px 10px 20px;
    max-width: 320px;
  }

  .tagline {
    margin-top: 213px;
  }

  .booksTitle {
    font-size: 25px;
    line-height: 30px;
  }

  .videoTitle {
    font-size: 25px;
    line-height: 30px;
    margin: 50px 0 30px 0;
  }
}

@media screen and (max-width: 496px) {
  .tagline {
    text-align: start;
    margin: 13px 0 0 0;
    width: 300px;
    font-size: 18px;
    line-height: 23px;
  }

  .description {
    margin-top: 287px;
  }

  .descriptionItem {
    width: 295px;
  }
  
  .descriptionText {
    width: 212px;
    font-size: 14px;
    line-height: 18px;
  }

  .booksTitle {
    margin-bottom: 31px;
  }
}