.header {
  max-width: 1180px;
  margin: 0 auto;
  padding: 40px 50px 0 50px;
  /* padding: 40px auto 0 auto; */
  /* padding: 0 50px; */
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.navIcon {
  cursor: pointer;
  display: none;
}

.navigation {
  padding: 0;
  margin: 0;
  display: flex;
}

.pageLink {
  text-decoration: none;
}

.navigationItem {
  cursor: pointer;
  margin-right: 55px;
  list-style-type: none;
  font-family: 'Raleway-Regular', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
  position: relative;
}

.navigationItem:hover::after {
  content: "";
  position: absolute;
  height: 1px;
  left: 0;
  right: 0;
  top: 25px;
  background-color: #000000;
}

.navigationLink {
  text-decoration: none;
  color: #000000;
}

.navigationItem:last-of-type{
  margin-right: 25px;
}

.logo {
  width: 145px;
  height: 145px;
}

.contacts {
  padding: 0;
  margin: 0;
  display: flex;
}

.telephone {
  font-family: 'Raleway-Regular', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #000000;
  margin-right: 34px;
}

.social {
  composes: contacts;
}

.socialLink {
  text-decoration: none;
  height: 24px;
  display: flex;
  align-items: center;
}

.socialItem {
  cursor: pointer;
  list-style-type: none;

  margin-right: 13px;
}

.socialItem:last-of-type {
  margin-right: 0;
}

.ourChannel {
  font-family: 'Raleway-Regular', Arial, sans-serif;
  margin-left: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #000000;
}

@media screen and (max-width: 1160px) {
  .header {
    max-width: 620px;
    padding-top: 43px;
  }

  .logo {
    width: 91px;
    height: 91px;
    position: absolute;
    top: 14px;
    right: 43.8%;
  }

  .navIcon {
    display: block;
  }

  .navigation {
    display: none;
  }
  
  .telephone {
    display: none;
  }
}