.container {
  max-width: 75vw;
  max-height: 75vh;
  position: relative;
}

.image {
  max-width: 75vw;
  max-height: 75vh;
}

.closeButton {
  width: 28px;
  height: 28px;
  position: absolute;
  top: -35px;
  right: -35px;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  background-image: url('../../images/Close-Icon.svg');
  background-size: contain;
}

.closeButton:hover {
  opacity: .6;
}

@media screen and (max-width: 580px) {
  .closeButton {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}